@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.admin-backgroundimage {
    background: url('../../Assets/Login/AdminBg.png') no-repeat fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0 0px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.admin-socialicon {
    width: 30px; /* Size of the icons */
    height: 30px;
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    margin: 10px;
}

.socialicon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.admin-button {
    border-radius: 20px;
    border: 1.5px solid #010101;
    background-color: #d55842;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.admin-button:active {
    transform: scale(0.95);
}

.admin-button:focus {
    outline: none;
}

.admin-button.admin-ghost {
    background-color: transparent;
    border-color: #f9f9f9;
}

.admin-form {
    background-color: #8f57a1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.admin-container {
    background-color: #8f57a1;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.admin-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.admin-sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.admin-container.admin-right-panel-active .admin-sign-in-container {
    transform: translateX(100%);
}

.admin-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.admin-container.admin-right-panel-active .admin-sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.admin-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.admin-container.admin-right-panel-active .admin-overlay-container {
    transform: translateX(-100%);
}

.admin-overlay {
    background: 
    linear-gradient(0deg, #00000077 30%, #13131344 80%),
    url('../../Assets/Login/AdminCard.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.admin-container.admin-right-panel-active .admin-overlay {
    transform: translateX(50%);
}

.admin-overlay-panel {
    color: #eee;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.admin-overlay-left {
    transform: translateX(-20%);
}

.admin-container.admin-right-panel-active .admin-overlay-left {
    transform: translateX(0);
}

.admin-overlay-right {
    right: 0;
    transform: translateX(0);
}

.admin-container.admin-right-panel-active .admin-overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.admin-title {
    color: #eee;
}
.loginpagetextcreate
{
    color: #fffdfd;
    padding-top: 0.5cm;
}
.gradienttext
{
    font-weight: 300;
}