/* General styles */
body {
    font-family: Arial, sans-serif;
  }
  
  .wholebackground {
    background: linear-gradient(0deg, #00000088 30%, #FFFFFF44 80%),
      url('../../../Assets/RequestRecipe/Requestwhole.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    padding: 20px 0; /* Add padding to create space at the top and bottom */
    min-height: 100vh; /* Ensure the background covers the entire viewport */
  }
  
  .recipe-request-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.4), /* Black with transparency */
      rgba(0, 0, 0, 0.4) /* Black with transparency */
    );
    border-radius: 10px;
  }
  
  .recipe-request-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-request-container p {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .recipe-request-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .recipe-request-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0;
  }
  
  .recipe-request-form-group {
    flex: 1 1 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .recipe-request-form-group label {
    margin-bottom: 5px;
  }
  
  .recipe-request-file-input {
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .recipe-request-file-input[type="file"]::-webkit-file-upload-button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recipe-request-radio-group,
  .recipe-request-checkbox-group {
    color: white;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
  }
  
  .recipe-request-radio-group label,
  .recipe-request-checkbox-group label {
    color: white;
    display: contents;
    align-items: center;
  }
  
  .recipe-request-radio-group input,
  .recipe-request-checkbox-group input {
    color: white;
    margin-right: 10px;
  }
  
  .recipe-request-submit-button {
    align-self: center;
    background-color: #eb1111;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recipe-request-submission-message {
    text-align: center;
    margin: 20px 0;
  }
  
  @media (max-width: 600px) {
    .recipe-request-form-row {
      flex-direction: column;
    }
  
    .recipe-request-form-group {
      flex: 1 1 100%;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      font-size: 14px;
    }
  
    .recipe-request-checkbox-group {
      flex-direction: column;
    }
  
    .recipe-request-checkbox-group label {
      flex: 1 1 100%;
    }
  }
  